/* theme dark */
.bg-black{
  background-color: black;
}
.bg-light-black{
  background-color: #262626 !important;
}
.text-black{
  color: black;
}
.text-light-black{
  color: #262626;
}
.bg-dark-primary{
  background-color: #fcbc73 !important;
}
.text-dark-primary{
  color: #fcbc73 !important;
}

/* theme light */
.bg-light{
  background-color: white;
}
.bg-light-2{
  background-color: #dadcde;
}
.bg-light-primary{
  background-color: #343435 !important;
}
.text-light-primary{ 
  color: #191659 !important;
}


.react-tel-input input{
  width: 100% !important;
}


.scrollTrackVertical {
  background-color: blue;
  position: absolute;
  right: 2px;
  bottom: 2px;
  top: 2px;
  border-radius: 3px;
  width: 5px;
}

.scrollThumbVertical {
  width: 3px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

